<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graaby.app.wallet" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="graaby.app.wallet.permission.C2D_MESSAGE" />

    <permission
        android:name="graaby.app.wallet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="graaby.app.wallet.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.graaby.com"
                    android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".activities.DiscountItemDetailsActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.MyDiscountItemsActivity"
            android:label="@string/title_activity_my_cpn_vcr"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.BusinessDetailsctivity"
            android:icon="@drawable/nav_business"
            android:label="@string/title_activity_business_outlet_detail" />
        <activity
            android:name=".auth.UserLoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.OnboardingActivity"
            android:parentActivityName=".auth.UserLoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.UserLoginActivity" />
        </activity>

        <service
            android:name=".auth.UserAuthenticationService"
            android:exported="true"
            android:permission="android.permission.GET_ACCOUNTS" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC9FNzrV-HNTjHASAkuI0mmS-uBbXybaxs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>

        <receiver
            android:name="gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>

        <service android:name="gcm.GcmIntentService" />

        <activity
            android:name=".activities.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="graaby.app.wallet.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.BrandDetailsActivity"
            android:label="@string/title_activity_brand_details" >
        </activity>
    </application>

</manifest>