<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="graaby.app.wallet"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="graaby.app.wallet.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="graaby.app.wallet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="graaby.app.wallet.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".GraabyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/GraabyTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.graaby.com/#/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DiscountItemDetailsActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/GraabyTheme2.DiscountItemDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.MarketActivity"
            android:icon="@drawable/nav_market"
            android:label="@string/title_activity_my_cpn_vcr"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GraabyTheme2.Market">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.BusinessDetailsActivity"
            android:label=""
            android:theme="@style/GraabyTheme2.Business" />
        <activity
            android:name=".auth.UserLoginActivity"
            android:theme="@style/GraabyTheme2.Login"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:configChanges="orientation"
            android:parentActivityName=".auth.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".auth.UserLoginActivity" />
        </activity>

        <service
            android:name=".auth.UserAuthenticationService"
            android:exported="true"
            android:permission="android.permission.GET_ACCOUNTS">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC9FNzrV-HNTjHASAkuI0mmS-uBbXybaxs" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="graaby.app.wallet" />
            </intent-filter>
        </receiver>

        <service android:name=".services.GcmIntentService" />

        <activity
            android:name=".activities.SearchResultsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GraabyTheme2.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="graaby.app.wallet.MainActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.BrandDetailsActivity"
            android:label="@string/title_activity_brand_details"
            android:theme="@style/GraabyTheme2.Business" />

        <provider
            android:name=".models.android.GraabySearchSuggestionsProvider"
            android:authorities="@string/search_recent_provider" />

        <activity
            android:name=".activities.PointReceivedActivity"
            android:label="@string/title_activity_point_received"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GraabyTheme2.Point">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".activities.ExtraInfoActivity"
            android:label="@string/title_activity_extra_info"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GraabyTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <receiver
            android:name=".receivers.GraabyBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="graaby.app.wallet.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fae7d2973350643d19450c2a7894cc1f6e92f97c" />

        <receiver
            android:name=".receivers.UpdateLocationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".services.GraabyOutletDiscoveryService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".receivers.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.FeedActivity"
            android:label="@string/title_activity_feed"
            android:parentActivityName=".MainActivity"
            android:theme="@style/GraabyTheme2.Point">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="graaby.app.wallet.MainActivity" />
        </activity>

        <!-- BEGIN_INCLUDE(CardEmulationManifest) -->
        <!-- Service for handling communication with NFC terminal. -->
        <service
            android:name=".services.CardService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <!-- Intent filter indicating that we support card emulation. -->
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list" />
        </service>
        <!-- END_INCLUDE(CardEmulationManifest) -->
    </application>

</manifest>
